<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('车辆轨迹')" />
</head>

<body class="gray-bg">
    <div class="layui-row">
        <div class="layui-col-lg12 layui-col-md12 ">
            <div class="layui-col-md12 ">
                <div class="search-collapse" style="width:100%;height:800px;margin-left: 8px;" id="container"></div>
            </div>
        </div>
    </div>

<th:block th:include="include :: footer" />
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.9&key=63298590ff6ca94e8bbbbfc150cc97d1&plugin=AMap.Autocomplete"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script th:inline="javascript">
    var carPositionRecords = [[${carPositionRecords}]];
    var carItineraryInfo = [[${carItineraryInfo}]];
    var startCoor = carItineraryInfo.startCoor;
    var destCoor = carItineraryInfo.destCoor;
    //预设路径名
    var carItineraryInfoName = carItineraryInfo.name;
    //预设路径点
    var itPoints = JSON.parse(carItineraryInfo.itPoints);
    //地图中心点
    var centerLon;
    var centerLat;
    //行驶路径终止坐标
    var lastMarker;
    var length = carPositionRecords.length;
    //车辆信息
    var lastPointTime,carNo = [[${carNo}]],itineraryId = [[${itineraryId}]];
    if (length > 0){
        var carPositionRecord = carPositionRecords[length -1];
        var lastPlongitude =  carPositionRecord.lon;
        var lastPlatitude =  carPositionRecord.lat;
        lastPointTime = carPositionRecord.utc;
        centerLon = lastPlongitude;
        centerLat = lastPlatitude;
    }else {
        centerLon = startCoor.split(",")[0];
        centerLat = startCoor.split(",")[1];
    }
    lastMarker = new AMap.Marker({
        // containerClassNames: 'shape-RectangleFlagPin',
        icon: "https://webapi.amap.com/images/car.png",
        position: [centerLon,  centerLat],
        title: '当前位置'
    });
    //地图定义
    var map = new AMap.Map("container", {
        resizeEnable: true,
        center: [centerLon, centerLat],
        zoom: 13 //设置地图显示的缩放级别
    });
    if(carPositionRecords != '') {
        //行驶路径
        var lineArr = [];
        for (var i=0;i<carPositionRecords.length;i++){
            lineArr.push([carPositionRecords[i].lon,carPositionRecords[i].lat])
        }
        drawPolyline(lineArr);
    }
   map.add(lastMarker);

   //行驶路径起始坐标
    var startCoorMarker = new AMap.Marker({
        map: map,
        position: [startCoor.split(",")[0], startCoor.split(",")[1]],
        title: '起点'
    });

    AMapUI.load(['ui/misc/PathSimplifier', 'lib/$'], function(PathSimplifier, $) {
        if (!PathSimplifier.supportCanvas) {
            alert('当前环境不支持 Canvas！');
            return;
        }
        var pathSimplifierIns = new PathSimplifier({
            zIndex: 100,
            autoSetFitView:true,
            map: map, //所属的地图实例
            getPath: function(pathData, pathIndex) {
                return pathData.path;
            },
            getHoverTitle: function(pathData, pathIndex, pointIndex) {
                if (pointIndex >= 0) {
                    index = pointIndex + 1;
                    return  pathData.name + '，点：'+ index + '/' + pathData.path.length;
                }
                return pathData.name + '，点数量' + pathData.path.length;
            },
            renderOptions: {
                renderAllPointsIfNumberBelow: 100 //绘制路线节点，如不需要可设置为-1
            }
        });
        window.pathSimplifierIns = pathSimplifierIns;
        //设置数据
        pathSimplifierIns.setData([{
            name:carItineraryInfoName,
            path: itPoints
        }]);

    });

    function drawPolyline(datas) {
        var polyline = new AMap.Polyline({
            path: datas,            // 设置线覆盖物路径
            strokeColor: '#3394ff',   // 线颜色
            strokeOpacity: 1,         // 线透明度
            strokeWeight: 3,          // 线宽
            strokeStyle: 'solid',     // 线样式
            strokeDasharray: [10, 5], // 补充线样式
            geodesic: true            // 绘制大地线
        });
        polyline.setMap(map);
    }
    startTask();
    function startTask(){//定时器
        window.setInterval(function(){

            getLocation();
        }, 30 * 1000)
    }
    function getLocation(){
        $.ajax({
            type: 'post',
            data:{
                carNo:carNo,
                itineraryId:itineraryId,
                utc:lastPointTime
            },
            url: ctx + 'test/testCar/getCarPosition/',
            success: function (data, status, xhr) {
                var lineArr = [];
                for (var i=0;i<data.length;i++){
                    var lonlast = data[i].lon;
                    var latlast = data[i].lat;
                    lineArr.push([lonlast,latlast])
                    if (i == data.length - 1) {
                        //更新点标记
                        lastMarker.setPosition([lonlast, latlast]);
                        lastPointTime = carPositionRecord.utc;
                    }
                }
                drawPolyline(lineArr);
            }
        })
    };
</script>
</body>
</html>
