<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>欢迎</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="layui-row">
        <div class="layui-col-lg12 layui-col-md12 ">
            <div class="layui-col-md12 ">
                <div class="search-collapse" style="width:100%;height:800px;margin-left: 8px;" id="container"></div>
            </div>
        </div>
    </div>
<div th:include="include::footer"></div>
<script th:src="@{/ruoyi/js/common.js}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js}"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.9&key=63298590ff6ca94e8bbbbfc150cc97d1&plugin=AMap.Autocomplete"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>

    <script th:inline="javascript">

    var map = new AMap.Map("container", {
        resizeEnable: true,
        // center: [116.397428, 39.90923],
        // center: [107.772761, 36.587015],
        // zooms: [3-9],
        zoom: 13 //设置地图显示的缩放级别
    });
    // 创建三个点标记
    var m1 = new AMap.Marker({
        position: [116.49, 39.9]
    });
    var m2 = new AMap.Marker({
        position: [116.29, 39.9]
    });
    var m3 = new AMap.Marker({
        position: [116.69, 39.9],
        icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_r.png"
    });
    map.add(m1);
    map.add(m2);
    map.add(m3);

 /*   //自动适配到指定视野范围
    document.querySelector("#fitblue").onclick = function(){
        map.setFitView([m1, m2]);
    }

    //无参数时，自动自适应所有覆盖物
    document.querySelector("#fitall").onclick = function(){
        map.setFitView();
    }*/

    AMapUI.load(['ui/misc/PathSimplifier', 'lib/$'], function(PathSimplifier, $) {

        if (!PathSimplifier.supportCanvas) {
            alert('当前环境不支持 Canvas！');
            return;
        }

        var pathSimplifierIns = new PathSimplifier({
            zIndex: 100,
            //autoSetFitView:false,
            map: map, //所属的地图实例

            getPath: function(pathData, pathIndex) {

                return pathData.path;
            },
            getHoverTitle: function(pathData, pathIndex, pointIndex) {

                if (pointIndex >= 0) {
                    //point
                    return pathData.name + '，点：' + pointIndex + '/' + pathData.path.length;
                }

                return pathData.name + '，点数量' + pathData.path.length;
            },
            renderOptions: {

                renderAllPointsIfNumberBelow: 100 //绘制路线节点，如不需要可设置为-1
            }
        });

        window.pathSimplifierIns = pathSimplifierIns;

        //设置数据
        pathSimplifierIns.setData([{
            name: '路线0',
            path: [
                [116.405289, 39.904987],
                [113.964458, 40.54664],
                [111.47836, 41.135964],
                [108.949297, 41.670904],
                [106.380111, 42.149509],
                [103.774185, 42.56996],
                [101.135432, 42.930601],
                [98.46826, 43.229964],
                [95.777529, 43.466798],
                [93.068486, 43.64009],
                [90.34669, 43.749086],
                [87.61792, 43.793308]
            ]
        }]);

        //对第一条线路（即索引 0）创建一个巡航器
        var navg1 = pathSimplifierIns.createPathNavigator(0, {
            loop: true, //循环播放
            speed: 1000000 //巡航速度，单位千米/小时
        });

        navg1.start();
    });

</script>
</body>
</html>
